* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}
*:focus {
  outline: 0;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Ubuntu", sans-serif;
}

header#main {
  height: 80px;
  position: relative;
  z-index: 1;
}

header#main input {
  width: 450px;
  border: none;
  border-bottom: solid 1px #828282;
}
header#main span {
  margin-left: 15px;
}
header#main p {
  margin-left: 15px;
  padding-left: 8px;
  border-left: 2px solid #828282;
  display: flex;
  justify-content: center;
}
header#main span.countCart {
  background: #39cccc;
  color: #fff;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 6px;
  border-radius: 50%;
  display: none;
}

header#main .content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  flex-wrap: wrap;
}

header#main .content nav {
  display: flex;
}
header#main .content nav ul {
  display: flex;
  list-style: none;
}

header#main .content nav ul li {
  display: flex;
  align-items: center;
}

header#main nav ul li:first-child {
  margin: 0;
}

.side {
  display: flex;
  justify-content: baseline;
  align-items: center;
}

/* fim nav */

div.container {
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
  align-items: center;
  background: #001f3f;
  width: 100%;
  min-height: 410px;
  color: #fff;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  flex-wrap: wrap;
}

div.container div.selecionar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 470px;
}
div.container h2.title-h2 {
  margin-bottom: 30px;
}

select {
  width: 283px;
  height: 28px;
  margin: 10px;
  background: #fff;
}

select#estados {
  margin-left: 20px;
}

div.container div.exibeImagem {
  width: 470px;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
}
div.container div.exibeImagem img {
  max-width: 544px;
  max-height: 410px;
  align-self: center;
}

/* fim container */

/* produtos */
div.produtos {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  max-width: 1000px;
  margin: 0 auto;
  overflow: auto;
  height: auto;
  margin-bottom: 40px;
}
h3 {
  margin-top: 15px;
}
div.border {
  height: 4px;
  background: #ffc000;
  margin-top: 4px;
  width: 60px;
  border-radius: 2px;
}

div.item-produto {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.desconto {
  top: -50px;
  width: 24% !important;
  height: 0;
  position: absolute;
  border-bottom: 140px solid transparent;
  border-right: 140px solid #ffc000;
  text-align: right;
}

div.desconto span#off {
  position: relative;
  top: 75px;
  left: 156px;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}

div.item-produto .item {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

div.item-produto .item:hover button.btn-comprar {
  opacity: 1;
}

div.item-produto .item:hover {
  border: 1px solid #e0e0e0;
}

div.item-produto .item p {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #828282;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}

div.item-produto .item span {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #39cccc;
  text-align: center;
}

div.item-produto .item .btn-comprar {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 125.28px;
  height: 32.42px;
  cursor: pointer;
  background: #39cccc;
  border-radius: 5px;
  border: 0;
  opacity: 0;
  transition: 500ms all ease-in-out;
}

div.item-produto .item img {
  width: 180px;
  height: 150px;
  margin-bottom: 40px;
}

div.item-produto .item div {
  margin: 0 auto;
  text-align: center;
}

footer {
  background: #001f3f;
  color: #fff;
  height: auto;
  padding-bottom: 20px;
}

footer div.container-footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1000px;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
  height: auto;
}
.h3-footer {
  margin-top: 30px;
  margin-bottom: 5px;
}

.contato,
.btn-footer,
.powered {
  width: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
div.endereco {
  margin-top: 20px;
}
div.endereco p {
  line-height: 22px;
  font-size: 16px;
}

div.btn-footer {
  margin-top: 105px;
  margin-left: 150px;
}
.btn-footer button {
  background: #39cccc;
  width: 195px;
  height: 38px;
  border-radius: 5px;
  font-size: 11px;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  margin-bottom: 8px;
}
div.powered {
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  top: 60px;
}
div.powered div.logo-footer {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

div.logo-footer img {
  margin-right: 8px;
}

div.aboveFooter {
  background: #39cccc;
  height: 10px;
}

@media screen and (max-width: 600px) {
  div.container {
    margin-top: 20px;
    padding-top: 20px;
    margin-left: 0;
  }

  footer div.container-footer {
    height: 100%;
  }
  .btn-footer,
  .powered,
  .contato {
    width: 100%;
    margin: 0;
    padding-bottom: 10px;
  }
  .btn-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0 !important;
    margin-left: 0 !important;
  }
  .btn-footer button {
    justify-content: center;
  }
  .contato {
    text-align: left;
  }
  .powered {
    justify-content: flex-end !important;
    align-items: center !important;
  }
}
